@{
  ViewData["Title"] = "Edit Promotion";
}

@model SalesShack.Models.Promotion;

<div class="container" style="text-align: center;">
  <div class="content-wrapper">
  <div id="list">
<h5><strong>Edit this Promotion!</strong></h5><br>
<div id="form">
	@using (Html.BeginForm())
	{
		@Html.HiddenFor(model => model.PromotionId)

		@Html.EditorFor(m => m.Title, new { htmlAttributes = new { placeholder = "Title", style= "text-align: center;" } })<br><br>
		@Html.EditorFor(m => m.Description, new { htmlAttributes = new { placeholder = "Description", style= "text-align: center;" } })<br><br>
		@Html.EditorFor(m => m.StartDate, new { htmlAttributes = new { placeholder = "Start Date", style= "text-align: center;" } })<br><br>
		@Html.EditorFor(m => m.EndDate, new { htmlAttributes = new { placeholder = "End Date", style= "text-align: center;" } })<br><br>
		<input type="submit" id="button" value="Save" />
	}
</div>
	</div>
	</div>
</div>