@{
  ViewData["Title"] = "Edit Client";
}

@model SalesShack.Models.Client;

<div class="page-header">
	<h1>Edit</h1>
	<hr>
</div>

<div id="form">
	<h4>Edit this Client: @Html.DisplayFor(model => model.Name)</h4>
	@using (Html.BeginForm())
	{
		@Html.HiddenFor(model => model.ClientId)

		@Html.LabelFor(model => model.Name)
		@Html.EditorFor(model => model.Name)<br>
		@Html.LabelFor(model => model.Company)
		@Html.EditorFor(model => model.Company)<br>
		@Html.LabelFor(model => model.PhoneNumber)
		@Html.EditorFor(model => model.PhoneNumber)<br>
		<input type="submit" value="Save" />
	}
</div>
<p>@Html.ActionLink("Back to list", "Index")</p>