@{
  ViewData["Title"] = "Sale Details";
}

@model SalesShack.Models.Sale;
@using SalesShack.Models;

<h3>@Html.DisplayNameFor(model => model.Product.Name): @Html.DisplayFor(model => model.Product.Name)</h3>
<h5>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h5>
<h5>@Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(model => model.Price)</h5>
<h5>@Html.DisplayNameFor(model => model.DateSold): @Html.DisplayFor(model => model.DateSold)</h5>

<p>@Html.ActionLink("Delete this Sale", "Delete", new { id = Model.SaleId })</p>

<p>@Html.ActionLink("Edit this Sale", "Edit", new { id = Model.SaleId })</p>
