@{
  ViewData["Title"] = "Edit Sale";
}

@model SalesShack.Models.Sale;

<div class="container" style="text-align: center;">
  <div class="content-wrapper">
  <div id="list">
<h5><strong>Edit this Sale!</strong></h5><br>
<div id="form">
	@using (Html.BeginForm())
	{
		@Html.HiddenFor(model => model.SaleId)

		@Html.EditorFor(m => m.Price, new { htmlAttributes = new { placeholder = "Price", style= "text-align: center;" } })<br><br>
		@Html.EditorFor(m => m.Description, new { htmlAttributes = new { placeholder = "Description", style= "text-align: center;" } })<br><br>
    	@Html.EditorFor(m => m.DateSold, new { htmlAttributes = new { placeholder = "Date Sold", style= "text-align: center;" } })<br><br>
		@Html.LabelFor(model =>  model.Product, new {style = "padding-right: 10px;"})
			@Html.DropDownList("ProductId")<br><br>
		<input type="submit" id="button" value="Save" />
	}
</div>
	</div>
	</div>
</div>
</div>
