@{
	ViewData["Title"] = "Home Page";
}

@using SalesShack.Models;

<div class="container">

@if (User.Identity.IsAuthenticated)
{

	<br><h4 style="text-align: center;">Hello @User.Identity.Name! | Welcome to Sales Shack!</h4>

	<div class="row">
	<div class="content-wrapper">
		<div class="col-6">
			<h4 style="padding-left: 100px;"><u>Products</u></h4>
			@if (Model["Products"].Length == 0)
				{
					<p style="text-align: center;">No products have been added yet!</p>
				}
				
				<ul style="padding-left: 70px;">
				@foreach (Product product in Model["Products"])
				{
					<div class="card" style="width: 10rem;">
						<div class="card-body">
							<li class="card-title" style="list-style: none; padding-left: 18px;"><strong>@Html.ActionLink(product.Name, "Details", "Products", new { id = @product.ProductId})</strong></li>
						</div>
					</div>
				}
				</ul>
			</div>
		</div>
		<div class="content-wrapper">
			<div class="col-6 ">
				<h4 style="padding-left: 100px;"><u>Promotions</u></h4>
				@if (Model["Promotions"].Length == 0)
				{
					<p>No promotions have been added yet!</p>
				}

				<ul style="padding-left: 80px;">
				@foreach (Promotion promotion in Model["Promotions"])
				{
					<div class="card" style="width: 10rem;">
						<div class="card-body">
							<li class="card-title" style="list-style: none; padding-left: 18px;"><strong>@Html.ActionLink(@promotion.Title, "Details", "Promotions", new { id =
						@promotion.PromotionId})</strong></li>
						</div>
					</div>
				}
				</ul>
			</div>
		</div>
	</div>
}
else
{
	<p style="margin-left: 375px;">Dont have an account yet? @Html.ActionLink("Sign up!", "Register", "Account")</p>
}
</div>

