@{
  ViewData["Title"] = "Product Details";
}

@model SalesShack.Models.Product;
@using SalesShack.Models;

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<div id="form">
  @if (@Model.Sales.Count == 0)
  {
    <p>This Product has no Sales</p>
  }
  else
  {
    @foreach (Sale sale in Model.Sales)
    {
      <h3>Sales: @sale.Price | @sale.Description | @sale.DateSold</h3>
      @using (Html.BeginForm("DeleteJoin", "Products"))
      {
        @Html.Hidden("saleId", @sale.SaleId)
        <input type="submit" value="Delete" class="btn btn-danger" />
      }
    }
  }
</div>
<p>@Html.ActionLink("Delete this Product", "Delete", new { id = Model.ProductId })</p>

<p>@Html.ActionLink("Edit this Product", "Edit", new { id = Model.ProductId })</p>
